        body{
            font-family: 'Noto Sans JP', sans-serif;
            background-color: #7f5a83;
            background-image: linear-gradient(315deg, #1FADED 0%, #0d324d 74%);
            height: 100em;
        }
        
        #title{
            font-size: 35pt;
            color: white;
        }
        
        .box-rounded{
            border-radius: 25px;	
            background-color: #7f5a83;
            background-image: linear-gradient(315deg, #0d324d 0%, #1FADED 74%);
            color: white;
        }
        
        a{
            color: lightblue;
        }
        
        a:visited{
            color: pink;
        }
        
        .me{
            font-size: 20pt;
        }
.modal {
  display: block; position: fixed; z-index: 1; 
  padding-top: 200px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(207,207,207); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 95%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
