.bod{
font-size:25px;
color:#fefefe;



}
.loading{
/*Loading Text */
color:#1c5cb0;
font-size:100px;
font-weight:750px;
}
.errorInput{
color:#ff0000;

}
.suggest{
  max-height:200px;
  width:200px;
  overflow-y:scroll;
  background-color:#383838;
  color:#fefefe;
  border-radius:0px 0px 5px 5px; 
}
.suggestitem{
  border-bottom: 1px solid rgba(254,254,254,0.5);
  margin:4px;
  font-size:15px;
  
}
.type{
border-radius:3px;
}
.alias{
 background-color:#e82adb
}
.Warning{
  background-color:#f00
}
.Game{
background-color:#7bd468
}
.smal{
  font-size:9px;
  color:light-gray;
  font-style:italic;
}
.leaderboards{
max-height:500px;
overflow-y:scroll;
width:520px;
}
br{
  font-size:12px;
  
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .7s;
  transition: .7s;
}

input:checked + .slider {
  background-color: #7812B8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7812B8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
.options{
  font-size:15px;
  color:#eeebf0;
  padding:10px;
  
}
#entry{
  width:200px
}
