.bod{




}
.loading{
/*Loading Text */
color:#1c5cb0;
font-size:100px;
font-weight:750px;
}
.errorInput{
color:#ff0000;

}
.suggest{
  max-height:200px;
  overflow-y:scroll;
  background-color:#383838;
  color:#fefefe;
  border-radius:0px 0px 5px 5px; 
}
.suggestitem{
  border-bottom: solid 1px rgba(254,254,254,0.5);
  
  
}
.type{
border-radius:2px;
}
.alias{
 background-color:#e82adb
}
.Warning{
  background-color:#f00
}
.Game{
background-color:#7bd468
}
